body {
    margin: 0;
    background-color: #fbeee0;
}

img {
    border: 1px solid #d55b3d;
    border-radius: 8px;
}

img:hover {
    box-shadow: 10px 5px 5px #ffd2ca;
    transition-property: box-shadow;
    transition-duration: .5s, .5s;
}

video {
    width: 100%;
    border: 1px solid #d55b3d;
    border-radius: 8px;
} 

.video:hover {
    box-shadow: 10px 5px 5px #ffd2ca;
    transition-property: box-shadow;
    transition-duration: .5s, .5s;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading {
    color: #d55b3d;
    font-size: 60px;
    font-family:"Montserrat", sans-serif;
}

.images-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading-h2 {
    color: #d55b3d;
    font-size: 40px;
    font-family:"Montserrat", sans-serif;
}


.img-2 {
    margin: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.item {
    background-color: #ffbdb0;
    width: 350px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #d55b3d;
    border-radius: 8px;
}

.item:hover {
    box-shadow: 10px 5px 5px #ffd2ca;
    transition-property: box-shadow;
    transition-duration: .5s, .5s;
}

.item-name {
    color: #d55b3d;
    font-family:"Montserrat", sans-serif;
}

.item-name:hover {
    width: 350px;
}

ul {
    background-color:#fbeee0;
    color: #7c7575;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

del {
    font-size: 20px;
    color: #52616b;
    font-family:"Montserrat", sans-serif;
    padding: 10px;
}

ins {
    display: inline-block;
    transform: rotate(-7deg);
    font-size: 20px;
    font-family:"Montserrat", sans-serif;
    color: #52616b;
    text-decoration: none;
}

.price {
    font-size: 20px;
    font-family:"Montserrat", sans-serif;
    color: #52616b;
}

@media all and (max-width:800px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 90%;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .img-1 {
        margin: 20px;
    }
    .heading-h2  {
        font-size: 15px;
    }
    .heading {
        font-size: 20px;
    }
    .img-2 {
        align-items: center;
        margin: 20px;
    }
}